
<div class="top_pannel_link" >
    <div class="inner_top_pannel_link" id="logo_icon">
        <!-- 대표아이콘 -->
        <i class="fas fa-book"></i>
    </div>
    <div class="inner_top_pannel_link" id="title">
        <!-- 대표 이름 -->
        <div>
            <a href="./home.html" >라면위키</a> 
        </div>
            
    </div>
    <div class="inner_top_pannel_link" >
        <div class="tab_linking">
            <a href="./recentupdating.html">최근변경</a>
        </div>
    </div>
    <div class="inner_top_pannel_link">
        <div class="tab_linking">
            <a href="./nutrient.html">영양성분</a>
        </div>
        
    </div>
    <div class="inner_top_pannel_link">
        <div class="tab_linking">
            <a href="./factory.html">제조공장</a>
        </div>
        
    </div>
    <div class="inner_top_pannel_link">
        <div class="tab_linking">
            <a href="./tag.html">태그검색</a>
        </div>
        
    </div>

    <div class="search_box">
        <div id="inner_search_box">
            <div id="random_icon" >
                <i class="fas fa-random"></i>
            </div>
            <textarea id="search_box_textarea"  name="searchBoxInput" id="" cols="20" rows="1" placeholder="Search"></textarea>
            <div id="search_icon" >

                <i class="fas fa-search"></i>
            </div>
            <div id="member_icon" >

                <!-- 회원정보 아이콘 -->
                <a href="./member.html">
                    <i class="fas fa-user-alt"></i>
                </a>
                
            </div>
        </div>
        
    </div>
    
        

</div>
