<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <details>
        <summary>라면 데이터 베이스</summary>
            <p>
                <table>
                <th>작성방법</th>
                <th>입력</th>
                <th>출력</th>

                    <tr>
                        <td>
                            <span>작성하자</span>
                        </td>
                        <td>
                            <span>입력하자</span>
                        </td>
                        <td>
                            <span>출력하자</span>
                        </td>
                    </tr>
                    



                </table>
            </p>
    </details>
</body>
</html>