<!-- <%@ taglib uri="http://java.sun.com/jsp/jstl/core" prefix="c" %> -->
<!-- <%@ page session="false" %> -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../views/css/login.css">
    <script type="text/javascript" src="../views/javascript/login.js" ></script>
    <script  src="http://code.jquery.com/jquery-latest.min.js"></script>
    <title>회원가입</title>
</head>

<script>


</script>
<body>
        <div class="layoutOut" >
            <div class="layoutInner" id="layoutInnerId">
                라면위키<br>
                <div class="innerBox">
                    아이디<br>
                    <input type="text" name="memberId"><br>
                    <br>
                    비밀번호<br>
                    <input type="text" name="memberPassword"><br>
                    비밀번호 재확인<br>
                    <input type="text" name="passwordCheck"><br>
                    <br>
                    본인확인 이메일(선택)<br>
                    <input type="text" name="email"><br>
                </div>

            </div>
        </div>
        
</body>
</html>