/* 라인선 녹색으로 도트선 */
.dotted{
    outline-color: rgb(0, 168, 87);outline-style: dotted; outline-width: 1px;
    
}



/* 탑 패널 컨트롤 시작 */
.top_pannel{
    height: 50px;
    width: 100%; 
    background: linear-gradient(to right,rgb(255, 123, 0), rgb(245, 77, 10));
    /* background-color: rgb(190, 107, 30); */
    position: fixed; 
    text-align: center;
    font-family: "HSGaeulSenggak20";
    color: white;
}
.top_pannel_link{
    
    /* margin-top: 2px; */
    height: 98%;
    width: 1180px;
    font-size: 16px;
    display: inline-block;
    text-align: center;
    align-items: center;
    
    
    
}
.inner_top_pannel_link{
    
    
    height: 100%;
    float: left;
    
    font-size: 15px;
    vertical-align: middle;

    margin-left: 10px;    
}
.tab_linking{
    margin-top: 15px;
}


#logo_icon{
    font-size: 30px;
    margin-top: 8px;
}
#title{
    margin-top: 5px;
    font-size: 30px;
    font-family: "ONE-Mobile-POP";
    
}


/* 탑 패널 컨트롤끝 */



/* 서치박스 제어 */

.search_box{
    width: 330px;
    height: 100%;
    float: right;
    
}
#inner_search_box{
    margin-top: 9px;
    height: 80%s;
    
}



#random_icon{
    margin-top: 5px;
    margin-right: 3px;
    height: 20px;
    width: 20px;
    float: left;
}
#search_box_textarea{
    height: 100%;
    width: 230px;
    float: left;
    resize: none;
    text-align: left;
    font-size: 15px;
    font-family: "Cafe24Ssurround";
    
    
}
#recommand{
    position: absolute; 
    margin-left: 24px;
    margin-top: 25px; 
    height: 120px; 
    width: 236px;
    text-align: left; 
    background-color: rgb(255, 255, 255); 
    color: black;
    display: none;
}
.autos{
    margin: 0px;
    padding: 0px;
}



#search_icon{
    /* margin-left: 4px;
    margin-top: 3px; */
    /* margin-left: 0px; */
    /* margin-top: -5px; */
    width: 30px;
    height: 24px;
    /* font-size: 20px; */
    float: left;

}
#member_icon{
    margin-left: 15px;
    float: left;
    font-size: 24px;
    margin-top: 0px;
    height: 100%;
}

/* 팝업 로그인 */
#login_popup{
    display: none;
    width: 150px;
    height: 230px;
    background-color: rgb(247, 247, 247);;
    border: rgb(89, 63, 114) dotted 1px;
    float: right;
    color: black;
    /* z-index: 4; */
    text-align: left;
    font-size: 14px;
    font-family: "Pretendard-Regular";
}

#user_info_linking:link{
    text-decoration: none;
    color: black;
}
#user_info_linking:hover{
    text-decoration: none;
    color: black;
}
#user_info_linking:visited{
    text-decoration: none;
    color: black;
}


/* 팝업 로그인  끝*/



/* 서치박스 제어 끝 */