*{border: rgb(226, 214, 214) none 1px;}
a{
    text-decoration: none;
}
.layoutOut{ position: absolute;
    text-align: center;
    width: 100%;
    height: 100%;

    }
.layoutInner{ 
    /* position: absolute; */
    /* left: 40%; */
    margin-top: 15%;
    display: inline-block;
    vertical-align: middle;

    height: 30%; 
    width: 400px; 
    text-align: center;
    font-size: 30px;
}
.innerBox{
    font-size: 15px;
    text-align: left;
    margin: 10%;
}
#send_mail{
    background-color: rgb(192, 192, 192);
    margin-top: 5px;
}
#joinSubmit{
    background-color: rgb(192, 192, 192);
    margin-top: 5px;
}

/* 여기는 입력칸 설정 */
input {
    background-color: rgb(255, 255, 255);
    width: 98%;
    height: 30px;

}
button{
    background-color: rgb(255, 255, 255);
    width: 98%;
    height: 30px;

}
/* 전체 배경컬러 */
body{
    background-color: rgb(240, 240, 240);
}
#join_title{
    margin-top: 5px;
    font-size: 40px;
    font-family: "ONE-Mobile-POP";
}

/* 폰트 */
@font-face {
    font-family: 'ONE-Mobile-POP';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-POP.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}