/* 전체 레이아웃 파악용 */
/* *{outline-color: brown;outline-style: dotted; outline-width: 1px;} */
.dotted{
    outline-color: rgb(76, 68, 87);outline-style: dotted; outline-width: 1px;
    
}
a:link{text-decoration: none;}

/* 몸통 색 */
body{
    margin: 0px; 
    background-color: rgb(235, 241, 241);
}
/* 패널 하이퍼링크 효과 조정 */
.top_pannel_link a{
    text-decoration:none ;    
}
.top_pannel_link a:visited{
    color: white;
}
.alert_section a{
    text-decoration:none ; 
    
}



/* 바디 컨트롤 */

.home_frame{
    
    text-align: center;
    
}
a{
    text-align: center;
    vertical-align: middle;
}

.inner_frame{
    margin-top: 50px;
    display: inline-block;
    height: 1030px; 
    width: 1180px;
    
}
.contents_frame{
    float: left;
    width: 880px;
    height: 100%;
    background-color: rgb(247, 247, 247);
}
#contents_margin{
    width: 850px;
    height: 99%;
    margin:15px ;
}

#information_tab{
    width: 100%;
    height: 38px;
    
}


#section{
    font-size: 30px;
    font-family: "SBAggroB";
    float: left;
    /* @Override */
    text-align: left;
    height: 100%;
}
#section_linkings{
    width: 100%;
    height: 100%;
    
    
}
#section_linkings_frame{
    width: 60%;
    height: 80%;
    float: right;
    
}
.sections_link{
    width: 70px;
    height: 95%;

    text-align: center;
    font-size: 14px;
    float: right;
    
    border: 1px dotted rgb(122, 103, 129);
    line-height: 200%;
    vertical-align: center;
}
#edited_time{
    font-size: 13px;
    text-align: right;
}
#sorting_category{
    height: 22px;
    border: 1px dotted rgb(122, 103, 129);
    border-radius: 3px;
    margin-left: 2px;
    margin-right: 2px;
    text-align: left;
    font-size: 11px;
    line-height: 200%;
}

#regist_info{
    width: 100%;
    height: 40px;
    text-align: left;
}
#regist_items{
    float: left;
    height: 100%;
    width: 100%;

}












#alert_info{
    width: 845px;
    height: 326px;

    margin-top: 30px;
    border-radius: 2px;
    margin-left: 2px;
    margin-right: 2px;

    outline: solid 2px rgb(122, 103, 129);


}

.alert_section{
    height: 80px;
    width: 100%;
    margin-top: 2px;
    outline: dotted 1px rgb(89, 63, 114); ;
}
.alert_left_section{
    width: 15%;
    height: 100%;
    float: left;
    color : white;
    background-color: rgb(89, 63, 114); 
    font-size: 50px;
    line-height: 150%;

    /* 아래 두개는 같이 써야하네 */
    /* display: table-cell; */
    /* vertical-align: middle; */
}
.alert_right_section{
    width: 83%;
    height: 100%;
    float: right;
    color : black;
    font-size: 14px;
    text-align: left;
    vertical-align: middle;
    
}
#statistics{
    width: 846px;
    height: 126px;
    border-radius: 4px;
    border: solid 2px rgb(122, 103, 129);
    text-align: left;
}
#inner_statistics{
    width: 95%;
    height: 70%;
    margin-top: 15px;
    margin-left: 20px;
}
#links{
    width: 846px;
    height: 126px;
    border-radius: 4px;
    border: dotted 2px rgb(122, 103, 129,0.5 );
    text-align: left;
}
#links a:visited{
    text-decoration:none ;   
}


/* 바디 컨트롤 끝 */


/* 우측 탭 컨트롤 */
/* sidetab.css 사용 */
/* 우측 탭 컨트롤 끝 */


/* 풋터 */
#footer{
    height: 300px;
    width: 100%;
    background-color: rgb(247, 247, 247);
    margin-top: -10px;
    text-align: center;
    
}
#footer_contents{
    height: 250px;
    width: 1180px;
    text-align: left;
    font-size: 12px;
    display: inline-block;
}



/* 폰트 */
@font-face {
    font-family: 'ONE-Mobile-POP';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-POP.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'HSGaeulSenggak20';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/HSGaeulSenggak20.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SBAggroB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Cafe24Ssurround';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
/* 폰트 끝 */